body {
  --main-color: #00704a;
  --main-light-color: rgba(0, 112, 74, 0.4);
  --text-color: #878787;
}

.App {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
