.left__Sidebar {
  /* flex: 0.2; */
  background: #ffffff;
  box-shadow: 3px 0px 3px rgba(192, 192, 192, 0.25);
  /* box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.25); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  left: 40px;
  width: 300px;
  position: fixed;
  overflow-y: scroll;
  z-index: 100;
  -ms-overflow-style: none; /*IE and edge*/
  scrollbar-width: none; /*Firefox*/
}

.left__Sidebar::-webkit-scrollbar {
  display: none;
}

.logo {
  width: 136px;
  height: 35px;
  margin: 20px;
}

.top__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 90px;
  margin-bottom: 30px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #a6a5a5;
}

.left__Sidebar > h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #ababab;
  margin-top: 350px;
}

.left__Sidebar > h5:hover {
  cursor: pointer;
  color: var(--main-color);
}

.footer {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #b1b1b1;
  padding-bottom: 10px;
  bottom: -10px;
}

.footer > h4:hover {
  color: var(--main-color);
  cursor: pointer;
}
