.right__Sidebar {
  flex: 0.2;
  background: #ffffff;
  box-shadow: -3px 0px 3px rgba(192, 192, 192, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: sticky;
}

.right__Sidebar > img {
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  margin-top: 560px;
  bottom: -10px;
}

.right__Sidebar > img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
